<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC" crossorigin="anonymous">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css" integrity="sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO" crossorigin="anonymous">
    <script src="https://code.jquery.com/jquery-3.5.1.min.js"></script>
    <link rel="stylesheet" href="/richtexteditor/rte_theme_default.css" />
    <title> Kazi </title>
</head>
<body>
  
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/js/bootstrap.bundle.min.js" integrity="sha384-MrcW6ZMFYlzcLA8Nl+NtUVF0sA7MsXsP1UyJoMp4YLEuNSfAP+JcXn/tWtIaxVXM" crossorigin="anonymous"></script>
    {% include 'navbar.html' %}


    {% block content %}




    {% endblock %}
    <style>
        .main-container{
            background-color: #262626;
        }
    </style>

    <div class="main-container my-">

      <footer class="bg-dark text-center text-white text-lg-start">
        <!-- Grid container -->
        <div class="container p-4 pb-0">
          <form action="">
            <!--Grid row-->
            <div class="row">
              <!--Grid column-->
              <div class="col-auto mb-4 mb-md-0">
                <p class="pt-2">
                  <strong>Sign up for mail notifications</strong>
                </p>
              </div>
              <!--Grid column-->
      
              <!--Grid column-->
              <div class="col-md-5 col-12 mb-4 mb-md-0">
                <!-- Email input -->
                <div class="form-outline mb-4">
                  <input type="email" id="form5Example25" class="form-control" />
                  <label class="form-label" for="form5Example25">Email address</label>
                </div>
              </div>
              <!--Grid column-->
      
              <!--Grid column-->
              <div class="col-auto mb-4 mb-md-0">
                <!-- Submit button -->
                <button type="submit" class="btn btn-primary mb-4">
                  Subscribe
                </button>
              </div>
              <!--Grid column-->
            </div>
            <!--Grid row-->
          </form>
        </div>
        <!-- Grid container -->
      
        <!-- Copyright -->
        <div class="text-center p-3" style="background-color: rgba(0, 0, 0, 0.2);">
          © 2020 Copyright: Edgedev
          <a class="text-dark" href="https://mdbootstrap.com/">MDBootstrap.com</a>
        </div>
        <!-- Copyright -->
      </footer>
      
    </div>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/js/bootstrap.min.js" integrity="sha384-ChfqqxuZUCnJSK3+MXmPNIyE6ZbWh2IMqE241rYiqJxyMiZ6OW/JmZQ5stwEULTy" crossorigin="anonymous"></script>
    <script type="text/javascript" src="/richtexteditor/rte.js"></script>
    <script type="text/javascript" src='/richtexteditor/plugins/all_plugins.js'></script>  
</body>

</html>